### Import required dependencies

In [1]:
import pandas as pd
import os

## Deliverable 1: Collect the Data

To collect the data that youâ€™ll need, complete the following steps:

1. Using the Pandas `read_csv` function and the `os` module, import the data from the `new_full_student_data.csv` file, and create a DataFrame called student_df. 

2. Use the head function to confirm that Pandas properly imported the data.

In [2]:
# Create the path and import the data
full_student_data = os.path.join('../Resources/new_full_student_data.csv')
student_df = pd.read_csv(full_student_data)

FileNotFoundError: [Errno 2] No such file or directory: '../Resources/new_full_student_data.csv'

In [ ]:
# Verify that the data was properly imported
student_df.head()

## Deliverable 2: Prepare the Data

To prepare and clean your data for analysis, complete the following steps:
    
1. Check for and remove all rows with `NaN`, or missing, values in the student DataFrame. 

2. Check for and remove all duplicate rows in the student DataFrame.

3. Use the `str.replace` function to remove the "th" from the grade levels in the grade column.

4. Check data types using the `dtypes` property.

5. Remove the "th" suffix from every value in the grade column using `str` and `replace`.

6. Change the grade colum to the `int` type and verify column types.

7. Use the head (and/or the tail) function to preview the DataFrame.

In [3]:
# Check for null values
student_df.isna().sum()

NameError: name 'student_df' is not defined

In [4]:
# Drop rows with null values and verify removal
student_df = student_df.dropna()

NameError: name 'student_df' is not defined

In [5]:
# Check for duplicated rows
student_df.isna().sum()

NameError: name 'student_df' is not defined

In [6]:
# Drop duplicated rows and verify removal
student_df = student_df.drop_duplicates()

NameError: name 'student_df' is not defined

In [7]:
# Check data types
student_df.duplicated().sum()

NameError: name 'student_df' is not defined

In [8]:
# Examine the grade column to understand why it is not an int
student_df['grade']

NameError: name 'student_df' is not defined

In [9]:
# Remove the non-numeric characters and verify the contents of the column
student_df['grade'] = student_df['grade'].str.replace('th', '')
student_df['grade']

NameError: name 'student_df' is not defined

In [10]:
# Change the grade column to the int type and verify column types
student_df['grade'] = student_df['grade'].astype(int)
student_df.dtypes

NameError: name 'student_df' is not defined

## Deliverable 3: Summarize the Data

Describe the data using summary statistics on the data as a whole and on individual columns.

1. Generate the summary statistics for each DataFrame by using the `describe` function.

2. Display the mean math score using the `mean` function. 

2. Store the minimum reading score as `min_reading_score`.

In [11]:
# Display summary statistics for the DataFrame
student_df.describe()

NameError: name 'student_df' is not defined

In [12]:
# Display the mean math score using the mean function
mean_math_score = student_df["math_score"].mean()
mean_math_score

NameError: name 'student_df' is not defined

In [13]:
# Store the minimum reading score as min_reading_score
min_reading_score = student_df['reading_score'].min()
min_reading_score

NameError: name 'student_df' is not defined

## Deliverable 4: Drill Down into the Data

Drill down to specific rows, columns, and subsets of the data.

To drill down into the data, complete the following steps:

1. Use `loc` to display the grade column.

2. Use `iloc` to display the first 3 rows and columns 3, 4, and 5.

3. Show the rows for grade nine using `loc`.

4. Store the row with the minimum overall reading score as `min_reading_row` using `loc` and the `min_reading_score` found in Deliverable 3.

5. Find the reading scores for the school and grade from the output of step three using `loc` with multiple conditional statements.

6. Using conditional statements and `loc` or `iloc`, find the mean reading score for all students in grades 11 and 12 combined.

In [14]:
# Use loc to display the grade column
grade_column_df = student_df.loc[:,"grade"]
grade_column_df

NameError: name 'student_df' is not defined

In [15]:
# Use `iloc` to display the first 3 rows and columns 3, 4, and 5.
student_df.iloc[:3, 3:6]

NameError: name 'student_df' is not defined

In [16]:
# Select the rows for grade nine and display their summary statistics using `loc` and `describe`.
grade9_schools_df = student_df.loc[student_df["grade"] == 9]
grade9_schools_df.describe()

NameError: name 'student_df' is not defined

In [17]:
# Store the row with the minimum overall reading score as `min_reading_row`
# using `loc` and the `min_reading_score` found in Deliverable 3.
min_reading_row = student_df["reading_score"].min()
min_reading_row = student_df.loc[student_df["reading_score"] == min_reading_score]
min_reading_row

NameError: name 'student_df' is not defined

In [18]:
# Use loc with conditionals to select all reading scores from 10th graders at Dixon High School.
Dixon_df = student_df.loc[student_df["school_name"] == "Dixon High School"]
Dixon_grade10_df = Dixon_df.loc[Dixon_df["grade"] == 10]
Dixon_grade10_reading_df = Dixon_grade10_df.loc[:,['school_name','reading_score']]        
Dixon_grade10_reading_df

NameError: name 'student_df' is not defined

In [19]:
# Find the mean reading score for all students in grades 11 and 12 combined.
eleven_df = student_df.loc[(student_df["grade"] == 11) | (student_df["grade"] == 12)]
eleven_twelfth_df = eleven_df.loc[:,['reading_score']].mean()
eleven_twelfth_df

NameError: name 'student_df' is not defined

## Deliverable 5: Make Comparisons Between District and Charter Schools

Compare district vs charter schools for budget, size, and scores.

Make comparisons within your data by completing the following steps:

1. Using the `groupby` and `mean` functions, look at the average reading and math scores per school type.

1. Using the `groupby` and `count` functions, find the total number of students at each school.

2. Using the `groupby` and `mean` functions, find the average budget per grade for each school type.

In [20]:
# Use groupby and mean to find the average reading and math scores for each school type.
#avg_by_school = student_df.groupby(['school_type']).mean()
#avg_by_school.loc[:, ["reading_score", "math_score"]]

#Display the average budget for each school type by using the groupby and mean functions, as the following image shows:
avg_by_school = student_df.groupby(['school_type']).mean()
avg_by_school.loc[:, ["school_budget"]]

NameError: name 'student_df' is not defined

In [21]:
# Use the `groupby`, `count`, and `sort_values` functions to find the
# total number of students at each school and sort from most students to least students.
school_df = student_df.copy()
pd.DataFrame(school_df)
school_df["student_count"] = school_df["student_name"]
school_count_df = school_df.groupby(by="school_name").count()
group_df =  school_count_df.copy()
group_df.loc[:,["student_count"]].sort_values(by='student_count', ascending = False)

NameError: name 'student_df' is not defined

In [22]:
#Find the average math score by grade for each school type by using the groupby and mean functions, as the following image shows:
type_df = student_df.groupby(['school_type','grade']).mean()
type_df.loc[:,["reading_score", 'math_score']].round(2)

NameError: name 'student_df' is not defined

# Deliverable 6: Summarize Your Findings
In the cell below, write a few sentences to describe any discoveries you made while performing your analysis along with any additional analysis you believe would be worthwhile.

During this analysis I learned how crucial it can be to keep track of dfs as they can be re-used to chain columns together. This project has also shown me how difficult it can be to get results you need but how useful python can be in presenting data from a large data set.